@use "./variables" with ($theme: light);
@use "./base";
@use "./mixins";
@use "./layout";

@use "./components/header";
@use "./components/buttons";
@use "./components/inputs";
@use "./components/cards";
@use "./components/lists";
@use "./components/todo";
@use "./components/timer";
@use "./components/done-tasks";

@use "./components/modal";